<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= image_tag "https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png", class: "logo" %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Home', '/' %></li>
        <li class="nav-link"><%= link_to 'Connect', '#' %></li>
        <li class="nav-link"><%= link_to 'Discover', '#' %></li>
      </ul>
    </nav>
    <nav role="navigation-right" style="float: right;">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li id="js-navigation-more" class="nav-link more"><%= link_to 'Account', '#' %>
        <ul class="submenu">
          <li><%= link_to 'Sign in', '#' %></li>
          <li><%= link_to 'Sign out', '#' %></li>
          <li><%= link_to 'Sign up', new_user_path %></li>
        </ul>
        <li class="nav-link"><%= link_to 'Tweet', '#' %></li>
        <li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Search User/Tweet" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
